<div class="card rounded-3 mb-2 ">
    <div class="card-header d-flex flex-wrap align-items-center">
        <h5 class="card-title flex-grow-1">{{'Lista de '+title|translate }}</h5>
        <div class="flex-shrink-0">
            <div class="d-flex gap-1 flex-wrap">
                <button *ngIf="newShow" (click)="openPopup()"
                  type="button" class="btn btn-secondary add-btn" data-bs-toggle="modal">
                  <i class="ri-add-circle-line align-middle"></i> 
                  {{"Agregar" | translate}}
                </button>
                <button *ngIf="consultShow" (click)="consult()"
                  type="button" class="btn btn-info add-btn" data-bs-toggle="modal">
                  <i class="ri-refresh-line align-middle"></i> 
                  {{"Consultar" | translate}}
                </button>
                <button *ngIf="notifyShow" (click)="notify()"
                  type="button" class="btn btn-success add-btn" data-bs-toggle="modal">
                  <i class="ri-mail-send-fill align-middle"></i> 
                  {{"Notificación Masiva" | translate}}
                </button>  
            
            </div>
        </div>                
    </div>
</div>