<div class="auth-page-wrapper pt-5">
  <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
        <div class="bg-overlay"></div>  
        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1440 120">
                <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
            </svg>
        </div>
  </div>
  <div class="auth-page-content">
    <div class="container ">
      <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card">
                <div class="bg-warning-subtle position-relative">
                    <div class="card-body p-5">
                        <div class="text-center">
                            <h3>BIBLIOTECA</h3>
                            
                        </div>
                    </div>
                    <div class="shape">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns:svgjs="http://svgjs.com/svgjs" width="1440" height="60" preserveAspectRatio="none"
                            viewBox="0 0 1440 60">
                            <g mask="url(&quot;#SvgjsMask1001&quot;)" fill="none">
                                <path d="M 0,4 C 144,13 432,48 720,49 C 1008,50 1296,17 1440,9L1440 60L0 60z"
                                    style="fill: var(--vz-secondary-bg);"></path>
                            </g>
                            <defs>
                                <mask id="SvgjsMask1001">
                                    <rect width="1440" height="60" fill="#ffffff"></rect>
                                </mask>
                            </defs>
                        </svg>
                    </div>
                </div>
                <div class="card-body p-4">
                    <div class="mb-4">
                        <h5 class="mb-3">1. Introducción</h5>
                        <p class="text-muted">sistema de biblioteca.</p>
                    </div>

               
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer --> 
  <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <p class="mb-0 text-muted">&copy; {{year}} Biblioteca <i class="mdi mdi-heart text-danger"></i> 
                    </p>
                </div>
            </div>
        </div>
    </div>
  </footer>
</div>