<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
  <!-- LOGO -->   
  <div class="navbar-brand-box">
    <!-- Dark Logo-->
    <a routerLink="/" class="logo logo-dark p-2">
      <span class="logo-sm">
        <img src="assets/icons/logos/logo-sm.png" alt="" height="30">
      </span>
      <span class="logo-lg">
        <div class="d-flex align-items-center">
        <img src="assets/icons/logos/logo-dark.png" alt="" height="65">
        <span class="d-flex flex-column px-3 text-center">
          <span class="fs-20 fw-bold" style="color: white;">{{app}}</span>
        </span>
        </div>
      </span>
    </a>
    <!-- Light Logo-->
    <a routerLink="/" class="logo logo-light p-2">
      <span class="logo-sm">
        <img src="assets/icons/logos/logo-gamq.png" alt="" height="30">
      </span>
      <span class="logo-lg">
        <div class="d-flex align-items-center">
        <img src="assets/icons/logos/logo-gamq.png" alt="" height="40">
        <span class="d-flex flex-column px-3 text-center">
          <span class="fs-20 fw-bold" style="color: white;">{{app}}</span>
        </span>
        </div>
      </span>
    </a>
    <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover" (click)="toggleMobileMenu($event)">
      <i class="ri-record-circle-line"></i>
    </button>
  </div>
  


  <div id="scrollbar">
    <div class="container-fluid">
      <div id="two-column-menu"></div>
      <ngx-simplebar class="sidebar-menu-scroll" style="max-height: calc(100vh - 70px)">
        <ul class="metismenu list-unstyled navbar-nav" id="navbar-nav">
          <li class="menu-title">
            <span data-key="t-menu">MENU</span>
          </li>
          @for(item of getSubMenu(menuItems); track $index){
            @if(item.isTitle){
              <li class="menu-title">
                <span data-key="t-menu">{{ item.nombreMenu | translate }}</span>
              </li>
            }@else {
              <li class="nav-item">
                @if(!item.permisoPadreDto){
                  @if(hasItems(item)){
                    <a href="javascript:void(0);" class="is-parent nav-link menu-link" 
                      [ngClass]="{'has-arrow': !item.badge, 'has-dropdown': item.badge}" data-bs-toggle="collapse" 
                      [attr.aria-expanded]="!item.isCollapsed" (click)="toggleItem(item)">
                      <i class="{{ item.icono }} icon nav-icon" class=""></i>
                      <span class=""> {{ item.nombreMenu | translate }}</span>
                      @if(item.badge){<span class="badge badge-pill {{item.badge.variant}}">
                      {{item.badge.text | translate}}</span>}
                    </a>
                    <div class="collapse menu-dropdown" #collapse="ngbCollapse" [(ngbCollapse)]="item.isCollapsed">
                      <ul class="nav nav-sm flex-column" aria-expanded="false">
                        @for(subitem of getSubMenu(item.permisoHijoListDto); track $index){
                          <li class="nav-item">
                            @if(hasItems(subitem)){
                              <a class="nav-link" href="javascript:void(0);"
                                [attr.data-parent]="subitem.permisoPadreDto" data-bs-toggle="collapse" 
                                [attr.aria-expanded]="subitem.isCollapsed" (click)="toggleItem(subitem)">
                                {{ subitem.nombreMenu | translate}}
                                @if(subitem.badge){
                                  <span class="badge badge-pill {{subitem.badge.variant}}">{{subitem.badge.text | translate}}</span>
                                }
                              </a>
                              <div class="collapse menu-dropdown sub-menu" #collapse="ngbCollapse" [(ngbCollapse)]="subitem.isCollapsed">
                                <ul class="nav nav-sm flex-column" aria-expanded="false">
                                  @for(subSubitem of getSubMenu(subitem.permisoHijoListDto); track $index){
                                    <li class="nav-item">
                                      @if(hasItems(subSubitem)){
                                        <a class="nav-link" href="javascript:void(0);" 
                                          [attr.data-parent]="subSubitem.permisoPadreDto" data-bs-toggle="collapse" 
                                          [attr.aria-expanded]="!subSubitem.isCollapsed" (click)="toggleItem(subSubitem)">
                                          {{ subSubitem.nombreMenu | translate}}
                                          @if(subSubitem.badge){<span class="badge badge-pill {{subSubitem.badge.variant}}">
                                            {{subSubitem.badge.text | translate}}</span>}
                                        </a>
                                        <div class="collapse menu-dropdown extra-sub-menu" #collapse="ngbCollapse" [(ngbCollapse)]="subSubitem.isCollapsed">
                                          <ul class="nav nav-sm flex-column" aria-expanded="false">
                                            @for(subSubitem1 of getSubMenu(subSubitem.permisoHijoListDto); track $index){
                                              <li class="nav-item">
                                                <a [attr.data-parent]="subSubitem1.permisoPadreDto" 
                                                  [routerLink]="subSubitem1.ruta" class="nav-link" 
                                                  (click)="updateActive($event)">
                                                  {{ subSubitem1.nombreMenu | translate }}
                                                </a>
                                              </li>
                                            }
                                          </ul>
                                        </div>
                                      }@else {
                                        <a [routerLink]="subSubitem.ruta" class="nav-link" 
                                          [attr.data-parent]="subSubitem.permisoPadreDto" (click)="updateActive($event)">
                                          {{ subSubitem.nombreMenu | translate}}
                                          @if(subSubitem.badge){<span class="badge badge-pill {{subSubitem.badge.variant}}">
                                            {{subSubitem.badge.text | translate}}</span>}
                                        </a>
                                      }
                                    </li>
                                  }
                                </ul>
                              </div>
                            }@else {
                              <a [routerLink]="subitem.ruta" class="nav-link" 
                                [attr.data-parent]="subitem.permisoPadreDto" (click)="updateActive($event)">
                                <i class="{{ subitem.icono }} icon nav-icon" class=""></i>
                                {{ subitem.nombreMenu | translate}}
                                @if(subitem.badge){<span class="badge badge-pill {{subitem.badge.variant}}">
                                  {{subitem.badge.text | translate}}</span>}
                              </a>
                            }
                          </li>
                        }
                      </ul>
                    </div>
                  }@else {
                    <a [routerLink]="item.ruta" routerLinkActive="active" class="side-nav-link-ref nav-link menu-link">
                      @if(item.icono){<i class="{{ item.icono }} icon nav-icon" class=""></i>}
                      <span class=""> {{ item.nombreMenu | translate }} </span>
                      @if(item.badge){<span class="badge {{item.badge.variant}} float-end">
                        {{item.badge.text | translate}}</span>}
                    </a>
                  }
                }
              </li>
            }
          }
        </ul>
      </ngx-simplebar>

  
    </div>
  </div>
  <div class="sidebar-background"></div>
</div>
<div class="vertical-overlay" (click)="SidebarHide()"></div>