    <div class="card-body p-4">                
        <div class="mb-4 pb-2">
            <h5 class="card-title text-decoration-underline mb-3">
                Terminos & Condiciones de Uso
            </h5>
            <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-check-circle text-success icon-dual-success icon-xs">
                        <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                        <polyline points="22 4 12 14.01 9 11.01"></polyline>
                    </svg>
                </div>
                <div class="flex-grow-1">
                    <p class="mb-0 text-muted">Ultima Actualización: 15 de Julio, 2024</p>
                </div>
            </div>
        </div>    
        
        <div class="d-flex">
            <div class="flex-shrink-0 me-3"></div>
            <div class="flex-grow-1">
                <div>
                    <h5>1. Introducción </h5>
                    <p class="text-muted">
                        Estos Términos de Uso rigen el acceso y la utilización de la aplicación de Reservas Deportivas del Gobierno Autónomo Municipal de Quillacollo (GAMQ), incluyendo el proceso de reserva de instalaciones deportivas.
                    </p>
                    
                   
                </div>
           
            </div>
        </div>                 

        <div *ngIf="buttons" class="text-end d-flex gap-1 justify-content-end">
            <button (click)="goBack()" class="btn btn-secondary">Entiendo</button>
            <!-- <button (click)="goBack()" class="btn btn-outline-danger">
              <i class="ri-close-line align-bottom me-1"></i> Volver
            </button> -->
        </div>               
    </div>
