    <div class="card-body p-4">                
        <div class="mb-4 pb-2">
            <h5 class="card-title text-decoration-underline mb-3">
                Terminos & Condiciones de Uso
            </h5>
            <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-check-circle text-success icon-dual-success icon-xs">
                        <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                        <polyline points="22 4 12 14.01 9 11.01"></polyline>
                    </svg>
                </div>
                <div class="flex-grow-1">
                    <p class="mb-0 text-muted">Ultima Actualización: 15 de Julio, 2024</p>
                </div>
            </div>
        </div>    
        
        <div class="d-flex">
            <div class="flex-shrink-0 me-3"></div>
            <div class="flex-grow-1">
                <div>
                    <h5>1. Introducción </h5>
                    <p class="text-muted">
                        Estos Términos de Uso rigen el acceso y la utilización de la aplicación de Reservas Deportivas del Gobierno Autónomo Municipal de Quillacollo (GAMQ), incluyendo el proceso de reserva de instalaciones deportivas.
                    </p>
                    
                    <h5>2. Aceptación de Términos y Condiciones</h5>
                    <p class="text-muted">
                        Al utilizar la Aplicación, usted (en adelante, "Usuario") acepta estos Términos de Uso en su totalidad. Nos reservamos el derecho de modificar estos términos en cualquier momento. La versión actualizada estará siempre disponible en la sección "Términos y condiciones de uso" de la Aplicación. Le recomendamos revisar periódicamente estos términos.    
                    </p>
                    <h5>3. Servicios de Reserva</h5>
                    <p class="text-muted">
                        La Aplicación permite a los Usuarios realizar reservas de campos deportivos en los complejos gestionados por el GAMQ. Los servicios incluyen:    
                    </p>
                    <ul class="vstack gap-2 ul-padd">
                        <li>
                            <h5>3.1 Realización de Reservas</h5>
                            <ul class="vstack gap-2 ul-padd">
                                <li>Las reservas están sujetas a disponibilidad.</li>
                                <li>El GAMQ se reserva el derecho de modificar la disponibilidad sin previo aviso.</li>
                            </ul>
                        </li>
                        <li>
                            <h5>3.2 Política de Cancelación</h5>
                            <ul class="vstack gap-2 ul-padd">
                                <li>Las cancelaciones deben realizarse con al menos 4 horas de antelación a la hora de la reserva.</li>
                                <li>Cancelaciones fuera de este plazo pueden estar sujetas a cargos según la tarifa aplicable o anulación completa de la reserva.</li>
                            </ul>
                        </li>
                        <li>
                            <h5>3.3 Política de Reembolso</h5>
                            <ul class="vstack gap-2 ul-padd">
                                <li>Los reembolsos por cancelaciones oportunas se procesarán en un plazo de 5 a 10 días hábiles.</li>
                                <li>No se realizarán reembolsos por cancelaciones fuera del plazo establecido o por no presentarse.</li>
                            </ul>
                        </li>
                        <li>
                            <h5>3.4 Reglas de Uso del Campo Deportivo</h5>
                            <ul class="vstack gap-2 ul-padd">
                                <li>Los usuarios deben respetar el horario de su reserva.</li>
                                <li>Está prohibido el consumo de alcohol y tabaco en las instalaciones.</li>
                                <li>El uso de calzado adecuado es recomendado.</li>
                            </ul>
                        </li>
                        <li>
                            <h5>3.5 Responsabilidades del Usuario</h5>
                            <ul class="vstack gap-2 ul-padd">
                                <li>Los usuarios son responsables de su seguridad personal durante el uso de las instalaciones.</li>
                                <li>Cualquier daño a las instalaciones será responsabilidad del usuario que realizó la reserva.</li>
                                <li>Los usuarios deben reportar cualquier desperfecto o problema en las instalaciones antes de su uso.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div>
                    <h5>4. Registro y Cuenta de Usuario.</h5>
                    <p class="text-muted">
                        Para utilizar la Aplicación, los Usuarios deben registrarse proporcionando información precisa y completa. 
                        Los Usuarios son responsables de mantener la confidencialidad de su cuenta y contraseña.
                    </p>
                </div>
                <div>
                    <h5>5. Reservas y Pagos</h5>
                    <ul class="text-muted vstack gap-2 ul-padd">
                        <li>Las tasas generadas deben pagarse a través de los canales autorizados por el GAMQ. </li>
                        <li>Las reservas no pagadas dentro del plazo establecido serán canceladas automáticamente.</li>
                        <li>Las tarifas están sujetas a cambios sin previo aviso.</li>
                    </ul>
                </div>
                <div>
                    <h5>6. Modificaciones de la Reserva</h5>
                    <ul class="text-muted vstack gap-2 ul-padd">
                        <li>Las modificaciones están sujetas a disponibilidad y pueden incurrir en cargos adicionales.</li>
                        <li>Deben solicitarse con al menos 24 horas de antelación.</li>
                    </ul>
                </div>
                <div>
                    <h5>7. Conducta del Usuario</h5>
                    <p class="text-muted">
                        Los usuarios se comprometen a: 
                    </p>
                    <ul class="text-muted vstack gap-2 ul-padd">
                        <li>Utilizar las instalaciones de manera responsable.</li>
                        <li>Respetar a otros usuarios y al personal del GAMQ.</li>
                        <li>Cumplir con todas las normas y reglamentos aplicables.</li>
                    </ul>                    
                </div>
                <div>
                    <h5>8. Uso Apropiado de Aplicación </h5>
                    <p class="text-muted">
                        Los Usuarios se comprometen a utilizar la Aplicación de manera apropiada y legal. 
                        Está prohibido:
                    </p>
                    <ul class="text-muted vstack gap-2 ul-padd">
                        <li>
                            Utilizar la Aplicación para fines fraudulentos o ilegales
                        </li>
                        <li>
                            Interferir con el funcionamiento normal de la Aplicación
                        </li>
                        <li>
                            Intentar acceder a áreas restringidas de la Aplicación
                        </li>
                    </ul>
                </div>    
                <div>
                    <h5>9. Limitación de Responsabilidad</h5>
                    <p class="text-muted">
                        El GAMQ no se hace responsable por:
                    </p>
                    <ul class="text-muted vstack gap-2 ul-padd">
                        <li>
                            Lesiones personales durante el uso de las instalaciones.
                        </li>
                        <li>
                            Pérdida o daño de objetos personales.
                        </li>
                        <li>
                            Interrupciones o cancelaciones del servicio debido a circunstancias fuera de nuestro control.
                        </li>
                    </ul>
                </div>
                <div>
                    <h5>10. Modificaciones de los Términos</h5>
                    <p class="text-muted">                        
                        El GAMQ se reserva el derecho de modificar estos términos en cualquier momento. Los cambios serán efectivos inmediatamente después de su publicación en la Aplicación.
                    </p>
                </div>
                <div>
                    <h5>11. Ley Aplicable y Jurisdicción</h5>
                    <p class="text-muted">                        
                        Estos Términos de Uso se rigen por las leyes bolivianas. Cualquier disputa se someterá a los Juzgados y Tribunales de Bolivia.
                    </p>
                </div>
                <div>
                    <h5>12. Contacto</h5>
                    <p class="text-muted">                        
                        Para cualquier consulta sobre estos Términos de Uso, contáctenos al (591) 4 4362771-72-73 o por correo electrónico a admin&#64;quillacollo.gob.bo.
                    </p>
                    <p class="text-muted"> 
                        Al utilizar nuestra Aplicación y servicios de reserva, usted acepta cumplir con estos Términos de Uso.
                    </p>
                    <p class="text-muted">  Fecha de última actualización: 15 de Julio, 2024</p>
                </div>
            </div>
        </div>                 

        <div *ngIf="buttons" class="text-end d-flex gap-1 justify-content-end">
            <button (click)="goBack()" class="btn btn-secondary">Entiendo</button>
            <!-- <button (click)="goBack()" class="btn btn-outline-danger">
              <i class="ri-close-line align-bottom me-1"></i> Volver
            </button> -->
        </div>               
    </div>
